<!-- Show Messages -->
{{#if error}}
<p class="alert alert-warning">{{error}}</p>
{{/if}}
{{!-- {{#if success}}
<p class="alert alert-success">{{success}}</p>
{{/if}} --}}
{{#if notice}}
<p class="alert alert-info">{{notice}}</p>
{{/if}}


<!-- IF THIS IS A USER -->
{{#if user}}

<!-- IF THE USER IS A TEACHER-->
{{#if user.isTeacher}}
<a href = "/logout">logout</a>
{{else}}
<!-- IF THE USER IS A STUDENT-->
<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>My Profile</title>
    <link rel="stylesheet" href="css/nicepage.css" media="screen">
<link rel="stylesheet" href="css/My-Profile.css" media="screen">
    <script class="u-script" type="text/javascript" src="js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="js/nicepage.js" defer=""></script>
    <script type="text/javascript" src="js/studentCommands.js"></script>
    <meta name="generator" content="Nicepage 3.7.2, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <meta property="og:title" content="My Profile">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
  <body class="u-body" ><header class="u-clearfix u-header u-white u-header" id="sec-8537">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a href="https://nicepage.com" class="u-image u-logo u-image-1">
          <img src="img/default-logo.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#" style="padding: 10px 20px;">My Profile</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="/logout" style="padding: 10px 20px;">Logout</a>
</li></ul>
          </div>
          
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                   <li class="u-nav-item"><a class="u-button-style u-nav-link" href="#" style="padding: 10px 20px;">My Profile</a></li>
                   <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/logout" style="padding: 10px 20px;">Logout</a></li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-grey-15 u-section-1" id="sec-3dd2">

      
      <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-grey-60 u-layout-cell u-size-6-xl u-size-8-lg u-size-8-md u-size-8-sm u-size-8-xs u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <div class="u-expanded-width u-table u-table-responsive u-table-1">
                  <table class="u-table-entity">
                    <colgroup>
                      <col width="100%">
                    </colgroup>
                    <tbody class="u-align-center u-table-body">
                      <tr style="height: 45px;">
                        <td class="u-table-cell u-table-cell-1">Due Soon</td>
                      </tr>
                      <tr style="height: 44px;">
                        <td class="u-border-2 u-border-grey-dark-1 u-table-cell u-table-cell-2">Assignment Name<br>Class Name<br>1/22/2021
                        </td>
                      </tr>
                      <tr style="height: 120px;">
                        <td class="u-border-2 u-border-grey-dark-1 u-table-cell u-table-cell-3">Assignment Name<br>Class Name<br>1/22/2021
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="u-container-style u-grey-15 u-layout-cell u-size-52-lg u-size-52-md u-size-52-sm u-size-52-xs u-size-54-xl u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <img src="data:image/png;base64, {{user.profilepicture}}" alt="" class="u-align-center u-image u-image-default u-preserve-proportions u-image-1" data-image-width="1280" data-image-height="1280">
                <a href="#" class="u-border-0 u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-9 u-btn-1" data-animation-name="fadeIn" data-animation-duration="0" data-animation-delay="1000" data-animation-direction="">Reedeem Avocados</a>
                <div class="u-align-center u-clearfix u-custom-html u-custom-html-1">
                  <div class="progress" style="margin-bottom: 0px;">
                    
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                      <span class="sr-only">70% Complete</span>
                    </div>
                  </div>
                  <h6 class="u-text u-text-1">Level 3</h6>
                </div>

                <div class="u-expanded-width-xs u-tab-links-align-center u-tabs u-tabs-1">
                  <ul class="u-spacing-0 u-tab-list u-unstyled" role="tablist" id = "classTabs">
                    {{#each classes}}
                    {{#if @first}} 
                      <li class="u-tab-item u-tab-item-1" role="presentation">
                      <a class="u-active-white u-border-6 u-border-active-palette-1-base u-border-grey-15 u-border-hover-grey-15 u-border-no-bottom u-border-no-left u-border-no-right u-button-style u-grey-10 u-hover-grey-10 u-tab-link u-tab-link-1 active" id="tabControl-{{this.classID}}" href="#tab-{{this.classID}}" role="tab" aria-controls="tab-{{this.classID}}" aria-selected="true">{{this.className}}</a>
                    </li>
                     {{else}}
                    <li class="u-tab-item u-tab-item-1" role="presentation">
                      <a class="u-active-white u-border-6 u-border-active-palette-1-base u-border-grey-15 u-border-hover-grey-15 u-border-no-bottom u-border-no-left u-border-no-right u-button-style u-grey-10 u-hover-grey-10 u-tab-link u-tab-link-1" id="tabControl-{{this.classID}}" href="#tab-{{this.classID}}" role="tab" aria-controls="tab-{{this.classID}}" aria-selected="true">{{this.className}}</a>
                    </li>
                    {{/if}} 
                    {{/each}}

                   
                 

                  </ul>

                    <div class="modal" id = "submitModal" tabindex="-1" role="dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class = "modal-title" id='modalAssignmentName'></h5>
                            <button onClick="showAssignmentModal(false)" type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <!-- <p id = "modalMaxSubmissions"></p> -->
                             <input type="file" id="file-input" />
                             
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Submit Assignment</button>
                          </div>
                        </div>
                      </div>

                  
 
                    

                     
                   
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width:1024px) { 
.modal-content {
    width: 100%;
}
}
</style>
                          <script>
                            // When the user clicks anywhere outside of the modal, close it
                            
                            window.onclick = function(event) {
                              var modal = document.getElementById("submitModal");
                              if (event.target == modal) {
                                modal.style.display = "none";
                              }
                            }
                            function showAssignmentModal(isShown,assignmentName,maxSubmissions) { 
                              var modal = document.getElementById("submitModal");
                              var assignmentNameElement = document.getElementById("modalAssignmentName")
                              var maxSubmissionsElement = document.getElementById("modalMaxSubmissions");
                                if (assignmentName && isShown) { 
                                  modal.style.display = "block";
                                  assignmentNameElement.innerText = (assignmentName);
                                 // maxSubmissionsElement.innerText =  'Number of Submissions Allowed: ' + maxSubmissions;
                                }else { 
                                  modal.style.display = "none";
                                }
                              }

                           
                          </script>



                  <div class="u-tab-content" id = "classTabsPanel">
                    {{#each classes}}
                    {{#if @first}} 
                    <div class="u-container-style u-tab-pane u-white u-tab-pane-1 active u-tab-active" id="tab-{{this.classID}}" role="tabpanel" aria-labelledby="link-tab-{{this.classID}}">
                      <div class="u-container-layout u-container-layout-3">
                    {{else}}
                     <div class="u-container-style u-tab-pane u-white u-tab-pane-1" id="tab-{{this.classID}}" role="tabpanel" aria-labelledby="link-tab-{{this.classID}}">
                      <div class="u-container-layout u-container-layout-3">
                    {{/if}}



                        
                          {{#each ../assignments}}
                           
                          
                          {{#if (checkAssignment ./this.classID ../this.classID)}}
                          <div class="u-container-style u-group u-palette-1-base u-radius-11 u-shape-round u-group-1">
                          <div class="u-container-layout u-container-layout-4">
                            <h5 class="u-align-center u-text u-text-2">Due {{this.dueDate}} </h5>
                            <h5 class="u-text u-text-3">{{this.assignmentName}}<br>+15 Avocados</h5>

                             <a onClick="showAssignmentModal(true, '{{this.assignmentName}}', '{{this.maxSubmissions}}')"  class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-radius-9 u-white u-btn-2">Submit</a>
                          </div>
                          </div>
                            {{/if}} 
                          {{/each}}
                      


                          </div>

                    </div>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-b99f"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Teacher Student APP</p>
      </div></footer>
  </body>
</html>
{{/if}}

{{else}}





<meta http-equiv="refresh" content="0; URL=/login" />



{{/if}}