<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <%- include ('./partials/head') -%>
    <%- include ('./partials/teacherNav') -%>
    <main>
      <h1><%= page %> <%= %></h1>
          <%for (var post in feed)  { %>
            <div class="card" style="width: 18rem;">
              <div class="card-body">
               <h5 class="card-title">
                <%= feed[post].Name %>
               </h5>
               <p class="card-text">
                  <%= feed[post].Post %>
               </p>
              </div>
            </div> 
       <% } %> 
      </script>
    </main>
    <%- include ('./partials/footer') -%>
</body>
</html>
